/* imported Roboto font weights: 300, 400, 700 */
:root {
  /* Variables */

  /* Colors */
  --grey: #242424;
  --soft-pink: pink;

  /*  Font Weights */
  --lightest: 300;
  --medium: 400;
  --boldest: 700;

  /* Font Sizes */
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;


  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: var(--lightest);
  
  color: white;
  background-color: var(--grey);
}

p {
  font-size: var(--fs-400);
  font-weight: var(--lightest);
}

h1 {
  font-weight: var(--boldest);
  font-size: var(--fs-xl);
}

h2 {
  font-weight: var(--medium);
  font-size: var(--fs-600);
}

a {
  font-weight: var(--medium);
  color: var(--grey);
  transition: .5s;
}
a:hover {
  color: white;
  background-color: var(--grey);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: var(--fs-400);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
