/* imported Roboto font weights: 300, 400, 700 */
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: var(--lightest);

  color: var(--grey);
  background-color: white;
  
  /* Variables */
  /* Colors */
  --grey: #242424;
  --soft-pink: pink;

  /*  Font Weights */
  --lightest: 300;
  --medium: 400;
  --boldest: 700;

  /* Font Sizes */
  --fs-xl: 5rem;
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem; 
}

@media (min-width: 40em) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 2.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
  }
}

p {
  font-size: var(--fs-400);
  font-weight: var(--lightest);
}

h1 {
  font-weight: var(--boldest);
  font-size: var(--fs-xl);
  margin: 0;
}

h2 {
  font-weight: var(--boldest);
  font-size: var(--fs-600);
}

a {
  text-decoration: none;
  font-weight: var(--b);
  font-size: var(--fs-500);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--fs-400);
}

#app {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
  margin: 0;
}

.navBar {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.154);
}

.navLinks {
  color: var(--grey);
  background-color: white;
  padding-inline: var(--fs-400);
  transition: .3s;
}

.navLinks:hover {
  color: white;
  background-color: var(--grey);
}
.navLinks.homeLink {
  margin-right: auto;
}

.splash {
  height: 60vh;
  position: relative;
  z-index: 0;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5506f408e4b0619cc3aeac05/1465935541834-TQ4NYZQAT7UM36FOJ193/image-asset.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--fs-400)
}
@media screen and (max-width: 600px) {
  .splash {
    height: 60vh;
  }
}

.splash h1, .splash h2 {
text-shadow: 0 0 5px black;
}

.contentFlexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
}
@media (min-width: 1000px ) {
  .contentFlexbox{
    flex-direction: row;
  }
}

.contentContainer {
  flex: 1;
  padding-inline: var(--fs-500);
  padding-block: var(--fs-400);
}